doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title= head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
  body
      script(src="https://kit.fontawesome.com/4883e8cd8b.js")
      script(src="https://code.jquery.com/jquery-3.4.1.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  block content
  footer.page-footer.blue-grey.lighten-4
    div.container
      div.row
        div.col.xl6.s12.offset-xl6.light-blue-text.text-darken-4.center
          h5 Abraham Jesús Febres
          h6
            i Software Developer
          div.row
            div.col.s3.xl3.center
              div.footer-link
                a.light-blue-text.text-darken-4(href="https://github.com/ajfebres")
                  i.fab.fa-github.fa-2x
            div.col.s3.xl3.center
              div.footer-link
                a.light-blue-text.text-darken-4(href="https://www.linkedin.com/in/abraham-febres-la-cruz-68b771155/")
                  i.fab.fa-linkedin.fa-2x
            div.col.s3.xl3.center
              div.footer-link
                a.light-blue-text.text-darken-4(href="https://twitter.com/Febres__A")
                  i.fab.fa-twitter.fa-2x
            div.col.s3.xl3.center
              div.footer-link
                a.light-blue-text.text-darken-4(href="!#")
                  i.fas.fa-paper-plane.fa-2x
    div.footer-copyright
      div.container
        span.right.light-blue-text.text-darken-2 © 2019 Copyright
  