extends layout

block content
    link(rel="stylesheet", href="../stylesheets/unauth.css")
    div.container       
        div.m-auto
            h1.light-blue-text.text-darken-4 Oops!! You're Unauthorized